{%  extends 'maintemplates/main.html' %}

{% block content %}
<br/>
<div class="container">
	<h5 class="text-left">{{book.title}} detail</h5>
	<hr>
	<div class="row">
		<div class="col">
			<form>
				<div class="form-row">
				<div class="form-group col-md-6">
					<label for="title">Tiêu đề</label>
					<input type="text" class="form-control" value="{{book.title}}" readonly>
				</div>
				<div class="form-group col-md-6">
					<label for="author"> Tác giả</label>
					<input type="text" class="form-control" value="{{book.author}}" readonly>
				</div>
				</div>

				<div class="form-group">
				<label for="description">Mô tả về sách</label>
				<input style="height: 200px;" type="text" class="form-control" value="{{book.description}}" readonly>
				</div>

				<div class="form-row">
				<div class="form-group col-md-6">
					<label for="date">Ngày phát hành</label>
					<input type="text" class="form-control" value="{{book.date}}" readonly>
				</div>
				<div class="form-group col-md-4">
					<label for="page">Số trang</label>
					<input type="text" class="form-control" value="{{book.page}}" readonly>
				</div>
				</div>

				<div class="form-group">
					<label for="category">Thể loại</label>
					<input type="text" class="form-control" value="{{book.category}}" readonly>
				</div>
				</form>
		</div>


		<div class="col">
			<div>
				<img src="/books/image/{{book.image}}"  style="width: 500px; height: 500px; margin-top:20px; margin-left:190px;"/>
			</div>
		</div>

	</div>
	<hr>
	<a class="btn btn-sm btn-info"  href = "{% url 'index' %}">Back</a>
	<a class="btn btn-sm btn-info"  href = "{% url 'update_book' book.id %}">Update</a>
</div>
{% endblock %}