{%  extends 'maintemplates/main.html' %}

{% block content %}
<br/>
<div class="container">
  <h5 class="text-left">{{book.title}} update</h5>
  <hr>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class= "col">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="title">Tiêu đề</label>
            {{form.title}}
          </div>

          <div class="form-group col-md-6">
            <label for="author"> Tác giả</label>
              {{form.author}}
          </div>
        </div>

        <div class="form-group">
          <label for="description">Mô tả về sách</label>
          {{form.description}}
        </div>
            
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="date">Ngày phát hành</label>
            {{form.date}}
          </div>

          <div class="form-group col-md-4">
            <label for="page">Số trang</label>
            {{form.page}}
          </div>
        </div>

        <div class="form-group">
          <label for="category">Thể loại</label>
          {{form.category}}
        </div>
      </div>

      <div class="col">  
        <div>
          <img src="/books/image/{{book.image}}"  style="width: 500px; height: 500px; margin-top:10px; margin-left:220px;"/>
        </div>

        <div style= "margin-top:10px; margin-left:350px;">
          {{form.image}}
        </div>
      </div>
    </div>
    <hr>
    <a class="btn btn-sm btn-info"  href = "{% url 'book' book.id %}">Back</a>
    <input type="submit" class="btn btn-sm btn-info" value="Save" name="Save"></input>
  </form>
</div>
{% endblock %}